@import url("https://fonts.googleapis.com/css2?family=Kenia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@500;600&display=swap");

:root {
  --primary-bgc-1: #44a08d;

  --primary-font-color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 85%;
  margin: 0 auto;
  position: relative;
}

body {
  font-family: "Signika", sans-serif;
  color: var(--primary-font-color);
  /* background-color: rgb(3, 63, 63); */
  /* background-color: #fff; */
  /* position: relative; */
  display: flex;
  flex-direction: column;
  background-image: url("wave-haikei.svg");
  /* height: 100%; */
  /* background-repeat: no-repeat; */
  background-size: cover;
  gap: 2rem;
  /* height: 950px; */

  /* line-height: 300%; */
}

/* COLOR */

/* ****************************** */
/* NAVIGATION */
/* ****************************** */

header {
  /* padding-bottom: 400px; */
}

nav {
  margin: 20px 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
  left: 10%;
  top: 5px;
  right: 10%;
  /* background-color: inherit !important; */
  /* height: 100vh; */
}

.miss {
  font-family: "Signika", sans-serif;
  color: rgb(228, 222, 222);
}

a {
  text-decoration: none;
  display: flex;
  color: white;
  font-family: "Signika", sans-serif;

  /* font-family: "Source Sans 3", sans-serif; */
}

li {
  list-style: none;
}

ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
a:hover {
  color: #44a08d;
}

.showcase-intro p {
  line-height: 2;
}

.showcase {
  /* padding-top: 30px; */
  /* margin-top: 100px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  /* padding-top: 300px; */
}

.showcase-p {
  margin-bottom: 20px;
}

.title-two {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  color: #f2ecf2;
}

.showcase img {
  width: 70%;
  border-radius: 15px;
}

.title {
  font-size: 2em;
}

.copy {
  color: #af35b4;
  margin: 0 -3px 0 2px;
}

.copywriting {
  padding: 20px 0;
}

.btn-about {
  background: transparent;
  /* padding: 3px 10px; */
  /* margin: 30px 0; */
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-color: white;
  /* border: none; */
  width: 100%;
  font-family: inherit;
  font-size: larger;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.frequent {
  margin-bottom: 20px;
}

.FAQ {
  margin-top: 70px;
}

.FAQ-div {
  margin-bottom: 50px;
}

.FAQ-div h2 {
  color: #44a08d;
}

.social {
  color: #44a08d;
}

.team-chat {
  text-decoration: underline;
}

.btn-about-link {
  display: flex;
  max-width: 80%;
  margin-bottom: 20px;
  width: 10rem;
}

.btn-about-links {
  display: flex;
  max-width: 80%;
  margin-bottom: 20px;

  width: 10rem;
}

.aa {
  width: 8rem;
}

.font-color {
  color: white;
}

p {
  line-height: 1.5;
}

.current {
}

.icon-arrow {
  animation: load 1.5s ease-in-out infinite;
}

/* ********************** */
/* ABOUT ME */
section {
  margin-top: 200px;
}

section h2 {
  padding-bottom: 20px;
}

.about {
  font-size: 2.5rem;
  padding: 0 0 50px 0;
}

/* @keyframes load {
  0%,
  100% {
    margin-left: 20px;
  }
  50% {
    margin-left: 10px;
  }
} */

.btn-about:hover {
  background-color: #44a08d;
}

s {
  transition: all 4s;
}

.offer {
  line-height: -5px;
}

/* *********************** */
/* ANIMATION */

a {
  transition: all 0.5s ease-in-out;
}

.showcase {
  animation: transitionIn 1s;
}

.social {
  transition: all 0.5s ease-in-out;
  width: 1rem;
}

.social:hover {
  color: white;
}

/* card */
.card {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-direction: column;
  margin-bottom: 30px;
}
.card p {
  font-size: 13px;
  color: rgb(228, 215, 215);
  /* padding: 10px 0; */
}

.img-container {
  width: 100%;
}

.img-container img {
  width: 100%;
}

.story {
  width: 100%;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

/* STORY */
.img-container-2 {
  width: 80%;
}

.img-container-2 img {
  width: 100%;
}

.story-lines {
  line-height: 2;
}

/* **************** */

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX("-10deg");
  }

  to {
    opacity: 1;
    transform: rotateX("0");
  }
}

@media screen and (min-width: 800px) {
  .container {
    width: 60%;
    margin: 0 auto;
  }

  .title {
    font-size: 5em;
    letter-spacing: 0.1rem;
    letter-spacing: -5px;
  }

  .about {
    font-size: 4rem;
  }

  .showcase-intro p {
  }

  .hi {
    font-size: 2rem;
  }

  header {
  }

  nav {
    padding: 0px 0;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
  }

  .showcase {
  }

  .showcase img {
    width: 50%;
    border-radius: 15px;
  }

  .story {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* gap: 100px; */
  }

  .card {
    width: 70%;
  }

  .card h3 {
    font-size: 2rem;
  }

  .card p {
    font-size: 1rem;
  }

  .card img {
    width: 100%;
  }
}
